#git config sercets
[data] 
  name = "Liks0m"
  email = "gh@liks0m.dev"
#nvim editor setup for chezmoi
[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
#git autoCommit
# `~/.config/chezmoi/chezmoi.toml`
[git]
    # autoAdd = true
    autoCommit = false # add + commit
    autoPush = true

