[user]
{{ if eq .chezmoi.hostname "LudvigMBP.local" and eq .chezmoi.os "darwin" }}
	name = Liks0m
	email = gh@liks0m.dev

	signingkey = /Users/$USER/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/e5cd7cbf38a87adffbda13f5c8ed4dc1.pub

{{ else if eq .chezmoi.hostname "TN-DYRFWR4VJW" and eq .chezmoi.os "darwin" }}
	name = CloudLarper
	email = ludvig.bjune.hopen@telenor.no
{{ end }}

	
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
